default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: name-tests-test
        args: [ '--pytest-test-first' ]
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']
        exclude: '.ipynb'
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
  # Use ruff as a substitute for black, flake8, isort, pyupgrade,
  # pylint.
    rev: v0.12.11
    hooks:
      - id: ruff-check
        args: ['--fix', '--show-fixes']
      - id: ruff-format

ci:
  autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: quarterly
  skip: []
  submodules: false
